@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.section-hero {
    background-color: v.$color-primary;
    padding: v.$spacer;

    &__img {
        display: block;
        width: 30vw;
        min-width: 140px;
        max-width: 260px;
        border-radius: 50%;
        border: 1px solid v.$color-background;
        margin: 0 auto 60px auto;
        text-align: center;
    }
}

.section-projects {
    padding: v.$spacer;
    margin: 0 auto;
}