@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;



.navigation {
    display: none;

    @include mx.media-min(850px) {
        display: block;
    }

    &__list {
        text-decoration: none;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0 20px;
    }

    &__link {
        color: v.$color-background;
        font-family: v.$font-special;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px 10px 10px 10px;

        &:hover {
            border-bottom: 2px solid v.$color-secondary;
        }
    }
}